/*--------------------- ESTILOS PARA FORMULARIOS GENERALES -----------------------*/
.data_grid label ,fieldset label{
    color:#044c8b;
    font-weight:bold;
    font-size:12px;
}
/*fieldset input[type="text"], fieldset textarea, fieldset select, input[readonly="readonly"],textarea, select, input[type="text"]{

    height:20px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #f7f7f7);
    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f7f7f7));
    border:1px solid #a9a9a9;
    padding-left:5px;
}   /*
fieldset textarea{height:60px!important;}

/*------------------------------------TITULOS GRIDS----------------------------------------------------------------------------*/
/*------------------------------------TITULOS GRIDS----------------------------------------------------------------------------*/
/*------------------------------------TITULOS GRIDS----------------------------------------------------------------------------*/
.titulo-grid{
	
	height:25px;	
	background:#05518f;
	background: -moz-linear-gradient(top, #1268ac, #05518f);
    background: linear-gradient(to bottom, #1268ac, #05518f);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1268ac), to(#05518f));
	border:1px solid #2d7acb;	
	border-radius:6px 6px 0px 0px;
	-moz-border-radius:6px 6px 0px 0px;
	-webkit-border-radius:6px 6px 0px 0px;
	margin:0px 0px 0px!important;
    padding:10px 0px 0px 10px;
	font-size:14px; text-transform:uppercase; color:#ffffff; text-shadow:1px 1px 2px #000000;
	text-align:left!important;
    clear: both;
	
				
}
.titulo-grid span{
	
	/*background:url('../images/img-datagrid/tit-icons.png') no-repeat left top; */
	-moz-background-size: 25px 160px;-o-background-size: 25px 160px;-webkit-background-size: 25px 160px;background-size: 25px 160px;	
	padding:2px 0px 2px 30px;
}
.titulo-grid .administrador{background-position:0 0px;}

table.data_grid{width:100%;/*height:200px*/ padding:0px;border-collapse: collapse;border-spacing: 0;font-family:Arial, Helvetica, sans-serif;}
/*.data_grid td{border:1px solid #dbdbdb;} */
/*------------------------- THEAD - 1------------------------------------------*/
/*------------------------- THEAD - 1------------------------------------------*/
#grid-head1{
	
	height:45px;	
	background:#3c6ab6;
	background: -moz-linear-gradient(top, #3c6ab6, #305da7);
    background: linear-gradient(to bottom, #3c6ab6, #305da7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3c6ab6), to(#305da7));
	border:1px solid #305da7;	
}
#grid-head1 input, #grid-head1 select{

	width:90%; height:27px!important;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #f7f7f7);
    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f7f7f7));
	border:1px solid #305da7;
	padding-left:5px;
	
	opacity:0.92;
	-webkit-transition: left 0.2s linear;
	-webkit-transition-property:opacity;
	-moz-transition: left 0.2s linear;
	-moz-transition-property:opacity;
	-o-transition: left 0.2s linear;
	-o-transition-property:opacity;
	-ms-transition: left 0.2s linear;
	-ms-transition-property:opacity;
	transition: left 0.2s linear;
	transition-property:opacity;

}
#grid-head1 select{height:31px!important;}
#grid-head1 input:hover,#grid-head1 td input:focus, #grid-head1 select:focus, #grid-head1 select:hover{opacity:1;}
#grid-head1 td, #grid-head2{text-align:center;}
/*------------------------- THEAD - 2------------------------------------------*/
/*------------------------- THEAD - 2------------------------------------------*/
#grid-head2{
	
	height:40px;	
	background:#b2d6f1;
	background: -moz-linear-gradient(top, #d1eafd, #b2d6f1);
    background: linear-gradient(to bottom, #d1eafd, #b2d6f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1eafd), to(#b2d6f1));
	/*border-bottom:1px solid #c2c2c2;*/	
}
#grid-head2 td{border: 1px solid #a9cee7;}
#grid-head2 img{border:0px;}
#grid-head2 .etiqueta_grid{color:#0c5388;font-size:13px;text-transform:uppercase;font-weight:bold;text-shadow:1px 2px 3px #ffffff;padding: 10px 10px 15px 5px;text-align: left;}
#grid-head2 .up, #grid-head2 .down{
	
	background:url('../images/img-datagrid/img-up-down.png') no-repeat right top;
	-moz-background-size: 30px 60px;
	-o-background-size: 30px 60px;
	-webkit-background-size: 30px 60px;
	background-size: 30px 60px;	
	margin:0px;
	padding-right:30px;
}
#grid-head2 .down{background-position: 100% 0px;}
#grid-head2 .up{background-position: 100% -30px;}
/*----------------------------------------- TBODY-----------------------------------------------------------------------------*/
/*---------------------------------------- TBODY-----------------------------------------------------------------------------*/
/*--------------------------------------- TBODY-----------------------------------------------------------------------------*/
/*---------------------------------------- TBODY----------------------------------------------------------------------------*/
tbody td{
	
	font-size:13px!important;
	text-align:left;
	color:#424242;
	padding-left:5px!important;
}
.data_grid tbody td{min-height:30px!important;height:30px;padding:0px 5px 0px!important;border: 1px solid #dbdbdb;}
/*------ ALINEACION DE TEXTOS----*/
td.txt-r{text-align:right!important;}
td.txt-c{text-align:center!important;}
tbody .gray, tbody .white{
	
	-webkit-transition: left 0.3s linear;
	-webkit-transition-property:background-color;
	-moz-transition: left 0.3s linear;
	-moz-transition-property:background-color;
	-o-transition: left 0.3s linear;
	-o-transition-property:background-color;
	-ms-transition: left 0.3s linear;
	-ms-transition-property:background-color;
	transition: left 0.3s linear;
	transition-property:background-color;
}
tbody .gray{background: rgb(249, 249, 249);}
tbody .white{background: rgb(255, 255, 255);}
tbody .gray:hover, tbody .white:hover{background-color: rgb(251, 253, 198);cursor:pointer;}


/*-------------------------AGREGAR SCROLL BAR -----------------------*/
.grid-scroll{
	
	height: 381px!important;
    overflow-y: scroll;
    overflow-x: scroll;
    display: -webkit-box;
    border-bottom: 2px solid #b9dcf6;
    margin-top: 0px;
}
.grid-scroll table{
	/*margin-top:-15px;*/
}
/*---- para f-captura Grid ----*/
.grid-scroll-2{
	
	height:150px!important;
	overflow-y:scroll;
	display:list-item;
	border-bottom:2px solid #b9dcf6; 
}
.grid-scroll-2 table{
	margin-top:-15px;
}
/*----------------------------------------- TFOOT-----------------------------------------------------------------------------*/
/*----------------------------------------- TFOOT-----------------------------------------------------------------------------*/
/*----------------------------------------- TFOOT-----------------------------------------------------------------------------*/
tfoot{border-top:2px solid #b9dcf6;}
#datagrid-pages{
	
	margin:10px auto;
	width:auto;
	text-align:center;
	font-size:10px;
}
#datagrid-pages label{color:#4c4c4c;}
#datagrid-pages input{
	width:30px;
	text-align:center;
	border:0px;
    font-size:1em!important;
    background: #ffffff;
}
#pagina_actual_cliente{color:#4c4c4c!important;}
#paginas_total_cliente{color:#4c4c4c!important;}
#datagrid-menu-pages{text-align:center;margin:10px auto;}
#datagrid-menu-pages button{
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background: #ebf3fa;
    background: -moz-linear-gradient(top, #ebf3fa, #d2e7f7);
    background: linear-gradient(to bottom, #ebf3fa, #d2e7f7);
    background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#ebf3fa), to(#d2e7f7));
    border:1px solid #aac7dd;
    cursor:pointer;
    height:20px;
    
    color:#79a3c4;
    font-weight:bold;
    
	height:25px;

}
#datagrid-menu-pages button:hover{
	
	background: #2e90bd;
    background: -moz-linear-gradient(top, #2e90bd, #1482b4);
    background: linear-gradient(to bottom, #2e90bd, #1482b4);
    background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#2e90bd), to(#1482b4));
    border:1px solid #40bdf9; 
      
}
#datagrid-menu-pages button:focus{outline:0px;}

/*----ICONOS PAGINACION------*/
#datagrid-menu-pages button p{
	
	background:url('../images/img-datagrid/btns-pagination.png') no-repeat center top;
	-moz-background-size: 25px 200px;
	-o-background-size: 25px 200px;
	-webkit-background-size: 25px 200px;
	background-size: 25px 200px;	
	margin:0px;
	min-width:40px;
	height:25px;


}
#pgn-inicio p{background-position: 50% 0px!important;}
#pgn-inicio:hover p{background-position: 50% -25px!important;}
#pgn-anterior p{background-position: 50% -50px!important;}
#pgn-anterior:hover p{background-position: 50% -75px!important;}
#pgn-siguiente p{background-position: 50% -100px!important;}
#pgn-siguiente:hover p{background-position: 50% -125px!important;}
#pgn-final p{background-position: 50% -150px!important;}
#pgn-final:hover p{background-position: 50% -175px!important;}




/*------------------------------ DATA GRID TOOLS - MENU DE HERRAMIENTAS ----------------------------------------------*/
/*------------------------------ DATA GRID TOOLS - MENU DE HERRAMIENTAS ----------------------------------------------*/
/*------------------------------ DATA GRID TOOLS - MENU DE HERRAMIENTAS ----------------------------------------------*/
/*------------------------------ DATA GRID TOOLS - MENU DE HERRAMIENTAS ----------------------------------------------*/
#grid-head-tools{
	
	height:20px;	
	background:#ffffff;
	background: -moz-linear-gradient(top, #ebf3fa, #ffffff);
    background: linear-gradient(to bottom, #ebf3fa, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebf3fa), to(#ffffff));
	border:1px solid #ebf3fa;
}
#grid-head-tools ul{list-style:none;float:right;margin:2px;}
#grid-head-tools ul li{float:left;}
/*---------------------------------- TAB BUTTONS --------------------------------------------------*/
.tab_button {
	height:22px;
	width:auto;
	min-width:22px;
	max-height:100px;

	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	background: #ebf3fa;
	background: -moz-linear-gradient(top, #ebf3fa, #d2e7f7);
	background: linear-gradient(to bottom, #ebf3fa, #d2e7f7);
	background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#ebf3fa), to(#d2e7f7));
	border:1px solid #aac7dd;

	padding:0px 2px 0px 2px;
	cursor:pointer;
	margin:2px;
}
.tab_button:hover, .tab_button:focus{
	background: #2e90bd;
	background: -moz-linear-gradient(top, #1482b4, #2e90bd);
	background: linear-gradient(to bottom, #1482b4, #2e90bd);
	background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#1482b4), to(#2e90bd));
	border:1px solid #23a2c8;
}
.tab_button p {
	font-size:11px!important;
	height:18px;
	color:#79a3c4;
	padding:3px;
	font-weight:bold;
}
.tab_button:hover p, .tab_button:focus p {
	color:#ffffff;
}


/*------------------------------ BUTTONS --- BOTONES ----------------------------------------------*/
/*------------------------------ BUTTONS --- BOTONES ----------------------------------------------*/
/*------------------------------ BUTTONS --- BOTONES ----------------------------------------------*/
/*------------------------------ BUTTONS --- BOTONES ----------------------------------------------*/

div.btn-icon{
	
    width:35px;
    float: left;

	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	
	background: #ececec;
    background: -moz-linear-gradient(top, #ececec, #e8e8e8);
    background: linear-gradient(to bottom, #ececec, #e8e8e8);
    background: -webkit-gradient(linear, 0% 50%, 0% 0%, from(#ececec), to(#e8e8e8));
    border:1px solid #c3c3c3;
    
    padding:3px;
    cursor:pointer;
    margin:2px;
   
}
div.btn-icon:hover{background: #e8e8e8;background: -moz-linear-gradient(top, #e8e8e8, #d8d5d5);background: linear-gradient(to bottom, #e8e8e8, #d8d5d5);background: -webkit-gradient(linear, 0% 50%, 0% 0%, from(#e8e8e8), to(#d8d5d5));}
div[name=btn] p{font-size:11px!important;height:18px;color:#79a3c4;margin:1px 0px 0px 0px;padding:3px;font-weight:bold;}
div[name=btn]:hover p{color:#ffffff;}
div.btn-icon span{ /*-------  ASIGANDO ICONOS -------*/

    width:33px;
    height:25px;
    display: block;
	background:url('../images/icons/icons.png') no-repeat right top;
	-moz-background-size: 33px auto;
	-o-background-size: 33px auto;
	-webkit-background-size: 33px auto;
	background-size: 33px auto;

}
div.btn-icon:hover span{
    background:url('../images/icons/icons-hover.png') no-repeat right top;
    -moz-background-size: 33px auto;
    -o-background-size: 33px auto;
    -webkit-background-size: 33px auto;
    background-size: 33px auto;
} 

/* BTN ELIMINAR */
.ico-delete span{background-position:50% 0px;}
.ico-delete:hover span{background-position:50% 0px;}

 /* BTN email-forward */
.ico-email-fwd span{background-position:50% -25px!important;}
.ico-email-fwd:hover span{background-position:50% -25px!important;}


/*-----ALINEACION DE LOS BOTONES ----------- IZQUIERDA - DERECHA ------*/
.btn-left{float:left;}
.btn-right{float:right;margin-right:5px!important;}


/*----------------- EFECTO AL DAR CLIC EN LOS BOTONES --------------------------*/
div[name=btn].search:active{
	
	background: #25a9e5!important;
    background: -moz-linear-gradient(top, #25a9e5, #088fcd)!important;
    background: linear-gradient(to bottom, #25a9e5, #088fcd)!important;
    background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#25a9e5), to(#088fcd))!important;
    border:1px solid #77d5f7!important;

}
div[name=btn]:active,div[name=btn].active{
	
	background: #f4f4f4!important;
    background: -moz-linear-gradient(top, #f4f4f4, #e6e6e6)!important;
    background: linear-gradient(to bottom, #f4f4f4, #e6e6e6)!important;
    background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#f4f4f4), to(#e6e6e6))!important;
    border:1px solid #c9c9c9!important;

}
div[name=btn]:active p{color:#7b7b7b;}





/*----------------------cmsm---------------------------*/





